<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Marian後台</title>
        <!-- fontawesome -->
        <link
            rel="stylesheet"
            href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css"
        />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/member.css" />
    </head>

    <body>
        <!-- ------------------------- left section ------------------------- -->
        <div><%- include('./main.ejs'); %></div>

        <!-- ------------------------- right section ------------------------- -->
        <div id="container">
            <!-- heading section -->
            <div id="headingSec">
                <div id="notification"><%- include('./marquee.ejs'); %></div>
                <!-- 組長這裏面的 input & button 給你寫
                    開始創作..... -->
                <form action="/member.ejs" method="POST">
                    <div class="searchInput">
                        <span>分類&nbsp;|</span>
                        <select name="sortProduct" id="sortProduct">
                            <option value="">請選擇</option>
                            <option value="customerId">編號</option>
                            <option value="customerName">名稱</option>
                            <option value="customerPhone">電話</option>
                            <option value="customerEmail">email</option>
                            <option value="customerAddress">地址</option>
                        </select>
                        <!--想客製化select display但願望還沒實現： https://www.w3schools.com/howto/howto_custom_select.asp -->
                    </div>
                    <div class="searchInput">
                        <span>會員搜尋&nbsp;|</span>
                        <input id="memberSearch" type="text" />
                    </div>
                    <button type="button" id="searchBtn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        開始搜尋
                    </button>
                    <button type="reset" id="clearBtn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        清除輸入
                    </button>
                </form>
                <div class="dividingLine"></div>
            </div>

            <!-- content section -->
            <div id="contentSec">
                <!-- 開始創作..... 記得調整top-->
                <table id="contentData">
                    <tr>
                        <th>會員編號</th>
                        <th>會員名稱</th>
                        <th>性別</th>
                        <th>電話</th>
                        <th>Email</th>
                        <th>地址</th>
                    </tr>
                    <% for (var i = 0; i < member.length; i++){ %>
                    <tr>
                        <td onclick="toggleRow(this.parentNode)"><%= member[i].customerId %></td>
                        <td onclick="toggleRow(this.parentNode)"><%= member[i].customerName %></td>
                        <td onclick="toggleRow(this.parentNode)"><%= Number(member[i].customerGender)===1? "女":"男";%></td>
                        <td onclick="toggleRow(this.parentNode)"><%= member[i].customerPhone %></td>
                        <td onclick="toggleRow(this.parentNode)"><%= member[i].customerEmail %></td>
                        <td onclick="toggleRow(this.parentNode)"><%= member[i].customerAddress %></td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div class="info infoTxt">
                                <div>歷史訂單 |</div>
                                <ul>
                                    <% for (var k = 0; k <
                                    memberOrderHistory.length; k++){ %> <% if
                                    (member[i].customerId ==
                                    memberOrderHistory[k].customerId){ %>
                                    <li>
                                        <span>訂單編號｜<%= memberOrderHistory[k].orderId %></span>
                                        <span>下訂日期｜<%= memberOrderHistory[k].orderDate %></span>
                                        <span>訂單總額｜<%= memberOrderHistory[k].total %> 元</span>
                                    </li>
                                    <% } %> <% } %>
                                </ul>
                            </div>
                            <div class="dividingLine"></div>
                        </td>
                    </tr>
                    <% } %>

                    <!-- <tr>
                        <td onClick="toggleRow(this.parentNode)">1</td>
                        <td onClick="toggleRow(this.parentNode)">王小明</td>
                        <td onClick="toggleRow(this.parentNode)">男</td>
                        <td onClick="toggleRow(this.parentNode)">0987654321</td>
                        <td onClick="toggleRow(this.parentNode)">wolfgang.chien@gmail.com</td>
                        <td onClick="toggleRow(this.parentNode)">台中市北區陜西路62號</td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div class="info infoTxt">
                                <div>歷史訂單 |</div>
                                <ul>
                                    <li>
                                        訂單編號：5678&nbsp;&nbsp;｜&nbsp;&nbsp;下訂日期：2021/09/14
                                        08:24&nbsp;&nbsp;｜&nbsp;&nbsp;訂單總額：1337元
                                    </li>
                                    <li>
                                        訂單編號：5678&nbsp;&nbsp;｜&nbsp;&nbsp;下訂日期：2021/09/14
                                        08:24&nbsp;&nbsp;｜&nbsp;&nbsp;訂單總額：1337元
                                    </li>
                                </ul>
                            </div>
                            <div class="dividingLine"></div>
                        </td>
                    </tr>
                    <tr>
                        <td onClick="toggleRow(this.parentNode)">1</td>
                        <td onClick="toggleRow(this.parentNode)">王小明</td>
                        <td onClick="toggleRow(this.parentNode)">男</td>
                        <td onClick="toggleRow(this.parentNode)">0987654321</td>
                        <td onClick="toggleRow(this.parentNode)">jgjgjgjgjgjgjgjgjgjg@gmail.com</td>
                        <td onClick="toggleRow(this.parentNode)">台中市北屯區大鵬路陳平里12之3巷5之1弄3之2鄰58號6樓之3</td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div class="info infoTxt">
                                <div>歷史訂單 |</div>
                                <ul>
                                    <li>
                                        訂單編號：5678&nbsp;&nbsp;｜&nbsp;&nbsp;下訂日期：2021/09/14
                                        08:24&nbsp;&nbsp;｜&nbsp;&nbsp;訂單總額：1337元
                                    </li>
                                    <li>
                                        訂單編號：5678&nbsp;&nbsp;｜&nbsp;&nbsp;下訂日期：2021/09/14
                                        08:24&nbsp;&nbsp;｜&nbsp;&nbsp;訂單總額：1337元
                                    </li>
                                </ul>
                            </div>
                            <div class="dividingLine"></div>
                        </td>
                    </tr> -->
                </table>
            </div>
            <script src="/js/jquery.min.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/member.js"></script>
        </div>
    </body>
</html>
