<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Marian後台</title>
        <!-- fontawesome -->
        <link
            rel="stylesheet"
            href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css"
        />
        <!-- ours -->
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/news.css" />
    </head>

    <body>
        <!-- ------------------------- left section ------------------------- -->
        <div><%- include('./main.ejs'); %></div>

        <!-- ------------------------- right section ------------------------- -->
        <div id="container">
            <!-- heading section -->
            <div id="headingSec">
                <div id="notification"><%- include('./marquee.ejs'); %></div>
                <!-- 組長這裏面的 input & button 給你寫
                    開始創作..... -->
                <form action="">
                    <div class="searchInput">
                        <span>文章編號&nbsp;|</span>
                        <input type="text" />
                    </div>
                    <button type="submit" id="searchBtn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        搜尋文章
                    </button>
                    <button type="reset" id="clearBtn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        清除輸入
                    </button>
                </form>
                <div class="dividingLine"></div>
            </div>

            <!-- content section -->
            <div id="contentSec">
                <!-- 開始創作..... 記得調整top-->
                <table id="contentData">
                    <tr>
                        <th>#Id</th>
                        <th>發布時間</th>
                        <th>標題</th>
                    </tr>
                    <tr>
                        <td onClick="toggleRow(this.parentNode)">34</td>
                        <td onClick="toggleRow(this.parentNode)">
                            2021/09/14 08:24
                        </td>
                        <td onClick="toggleRow(this.parentNode)">
                            this is news title
                        </td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div class="newsContainer">
                                <!-- ------------------標籤們-------------------- -->

                                <div class="tab">
                                    <button class="tab1">標題</button>
                                    <button class="tab2">段落一</button>
                                    <button class="tab3">段落二</button>
                                    <button class="tab4">段落三</button>
                                    <button class="tab5">段落四</button>
                                    <button class="tab6">段落五</button>
                                </div>
                                <!-- ------------------內容顯示-------------------- -->
                                <!-- 標題 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label for="newsTitle" class="decoLine"
                                            >文章標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>封面照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>

                                <!-- 段落ㄧ -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落ㄧ"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落二 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落二"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落三 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落三"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落四 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落四"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落五 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落五"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 罐頭 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label for="newsTitle" class="decoLine"
                                            >文章標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="請點選左方頁籤 進行查看或編輯"
                                            />
                                        </label>
                                        <div>
                                            <div>封面照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="dividingLine"></div>
                        </td>
                    </tr>
                    <tr>
                        <td onClick="toggleRow(this.parentNode)">34</td>
                        <td onClick="toggleRow(this.parentNode)">
                            2021/09/14 08:24
                        </td>
                        <td onClick="toggleRow(this.parentNode)">
                            this is news title
                        </td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div class="newsContainer">
                                <!-- ------------------標籤們-------------------- -->

                                <div class="tab">
                                    <button class="tab1">標題</button>
                                    <button class="tab2">段落一</button>
                                    <button class="tab3">段落二</button>
                                    <button class="tab4">段落三</button>
                                    <button class="tab5">段落四</button>
                                    <button class="tab6">段落五</button>
                                </div>
                                <!-- ------------------內容顯示-------------------- -->
                                <!-- 標題 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label for="newsTitle" class="decoLine"
                                            >文章標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>封面照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>

                                <!-- 段落ㄧ -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落ㄧ"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落二 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落二"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落三 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落三"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落四 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落四"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落五 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落五"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 罐頭 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label for="newsTitle" class="decoLine"
                                            >文章標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="請點選左方頁籤 進行查看或編輯"
                                            />
                                        </label>
                                        <div>
                                            <div>封面照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="dividingLine"></div>
                        </td>
                    </tr>
                    <tr>
                        <td onClick="toggleRow(this.parentNode)">34</td>
                        <td onClick="toggleRow(this.parentNode)">
                            2021/09/14 08:24
                        </td>
                        <td onClick="toggleRow(this.parentNode)">
                            this is news title
                        </td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div class="newsContainer">
                                <!-- ------------------標籤們-------------------- -->

                                <div class="tab">
                                    <button class="tab1">標題</button>
                                    <button class="tab2">段落一</button>
                                    <button class="tab3">段落二</button>
                                    <button class="tab4">段落三</button>
                                    <button class="tab5">段落四</button>
                                    <button class="tab6">段落五</button>
                                </div>
                                <!-- ------------------內容顯示-------------------- -->
                                <!-- 標題 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label for="newsTitle" class="decoLine"
                                            >文章標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>封面照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>

                                <!-- 段落ㄧ -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落ㄧ"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落二 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落二"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落三 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落三"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落四 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落四"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落五 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落五"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 罐頭 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label for="newsTitle" class="decoLine"
                                            >文章標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="請點選左方頁籤 進行查看或編輯"
                                            />
                                        </label>
                                        <div>
                                            <div>封面照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="dividingLine"></div>
                        </td>
                    </tr>
                    <% for (var i = 0; i < news.length; i++) { %>
                    <tr>
                        <td onClick="toggleRow(this.parentNode)">
                            <%= news[i].newsId %>
                        </td>
                        <td onClick="toggleRow(this.parentNode)">
                            <%= news[i].newsDate %>
                        </td>
                        <td onClick="toggleRow(this.parentNode)">
                            <%= news[i].newsTitle %>
                        </td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div class="newsContainer">
                                <!-- ------------------標籤們-------------------- -->

                                <div class="tab">
                                    <button class="tab1">標題</button>
                                    <button class="tab2">段落一</button>
                                    <button class="tab3">段落二</button>
                                    <button class="tab4">段落三</button>
                                    <button class="tab5">段落四</button>
                                    <button class="tab6">段落五</button>
                                </div>
                                <!-- ------------------內容顯示-------------------- -->
                                <!-- 標題 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label for="newsTitle" class="decoLine"
                                            >文章標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>封面照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>

                                <!-- 段落ㄧ -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落ㄧ"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落二 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落二"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落三 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落三"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落四 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落四"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 段落五 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="段落五"
                                            /> </label
                                        ><br />
                                        <label class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea name=""></textarea></label
                                        ><br />
                                        <label class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button class="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <!-- 罐頭 -->
                                <div class="tabContent">
                                    <form action="">
                                        <label for="newsTitle" class="decoLine"
                                            >文章標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                placeholder="請點選左方頁籤 進行查看或編輯"
                                            />
                                        </label>
                                        <div>
                                            <div>封面照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="dividingLine"></div>
                        </td>
                    </tr>
                    <% } %>

                    <!-- 這邊插入 -->
                    <!-- 這邊插入 -->
                </table>
            </div>
            <script src="/js/jquery.min.js"></script>
            <script src="/js/news.js"></script>
            <script src="/js/main.js"></script>
        </div>
    </body>
</html>
